/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}


    


/*HEADER SECTION*/

.header{
    display: grid;
    margin: 15px 0px;
    justify-content: center;
    align-items:center;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "i U U"
      "i I I"
      "i b b"; 
    justify-items: stretch; 
}

.profile-image{
    
    grid-area: i;
    grid-row: span3;
}

.profile-image > img{
    height: 200px;
    width:200px;
    border: 8px solid #506b43;
    border-radius: 50%;
    
}


.profile-user-settings{
    grid-area:u;
    grid-column: span2;
}


.profile-stats{
    grid-area: s;
    grid-column: span2;
} 

.profile-bio{
    grid-area:b;
    grid-column: span2;
}


.profile-username{
    grid-area: u;
}

.btn profile-edit-btn{
    grid-area: b;
}

.btn profile-settings-btn{
    grid-area: s;
}

.profile-stats{
    grid-area:p;

}

.profile-bio{
    grid-area:a;
}*/ 

.profile-image{
    justify-content: left;
    position: absolute;
    
}

.profile-image > .img{
    float:left;
    width: 50px;
    height: 40px;
    border: 5px solid #506b43;
    border-radius: 50%;
}


/*MAIN SECTION*/

.main{
    
    width: 100vw;

}

.main-container{
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    flex-wrap:wrap;
}

.gallery{

    display:grid;
    justify-items:center;
    align-items: center;
    
}

.gallery-item{
    width: auto;
    height: 300px;
}

.gallery-image{
    width:100%;
    height:250px;
    object-fit:cover;
}

./*gallery-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    opacity:0;
    object-fit:contain;
    height:300px;
}
.gallery-item-type:hover{
    opacity:100%;
    display:none;
} 
.gallery-item-info:hover{
    opacity: 100%;
    position: fixed;
    margin: auto 0px;
}*/

.loader{
    border: 12px solid grey;
    border-radius:50%;
    width: 100px;
    height: 100px;
    border-top: 12px solid lightgray;
    animation: spin 2.5s linear infinite;
    vertical-align: middle;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    }
