/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
   
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img{
    display:inline;
    height: 100px;
    width:50px;
    object-fit: scale-down;
}

.container{
    display: flex;
   
    width:100vw;
    height:30vh;
    
}

.profile-image{
    justify-content: left;
    position: absolute;
    
}


.profile-image > .img{
    float:left;
    width: 50px;
    height: 40px;
    border: 5px solid #506b43;
    border-radius: 50%;
}

.profile-user-settings{
    display:inline-flex
}

.profile-info{
    flex-wrap: wrap;
    float: right;
    
}

.profile-user-settings{
    position:absolute;
    margin: -200px 190px;
}

.main-container{
    display: flex;
    max-height: auto;
    max-width: 100vw;
    gap:6px;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
    
    
}

.gallery{
    max-height:100vh;
    max-width: 100vw;
    align-items:center;


}



.gallery-image{
    width: 30vw;
    height: 250px;
    object-fit:cover;
}